<!DOCTYPE html>
<!-- Para poder utilizar los atributos pasados desde el modelo a la vista
es necesario añadir en la etiqueta html el xmlns -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<!-- <title>Hola Spring!</title>-->
<title th:text="${titulo}"></title>
<!-- th es de thymeleaf -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>
	<h1 class="color-rojo" th:text="${titulo}"></h1>
	<h2 class="color-azul">Decorando con estilos css recursos estáticos</h2>
	<img th:src="@{/images/0.jpg}"></img>
	<!--<table th:if="${!usuarios.isEmpty()}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario:${usuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>
			</tr>
		</tbody>
	</table>-->
</body>
</html>