<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parámetros del Request HTTP GET - URL</title>
</head>
<body>
<h1>Enviar parámetros del Request HTTP GET - URL</h1>
<ul>
<!-- utiliar @ cuando nos referenciamos a rutas de nuestro proyecto -->
<li><a th:href="@{/params/string(texto='Hola Andrés')}">/params/string?texto=Hola Andrés</a></li>
<li><a th:href="@{/params/string(texto='Que tal John!')}">/params/string?texto=Que tal John!</a></li>
<li><a th:href="@{/params/mix-params(saludo='Cómo estás Andrés',numero=7)}">/mix-params?saludo=Cómo estás Andrés&numero=7</a></li>
<li><a th:href="@{/params/mix-params-request(saludo='Cómo estás Andrés',numero=7)}">/mix-params-request?saludo=Cómo estás Andrés&numero=7</a></li>
</ul>
</body>
</html>